
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About US</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8" style="text-align:justify;">
           
            We started this website to serve the people of Karachi and bring smiles on the face of people of Karachi.<br /><br />
            At Karachigifts.com you will observe the cheapest rates amongst the others websites why? Cheapest rates doesn't mean delivering low quality stuff but actually the spread smiles in million of faces.<br /><br />
            Living aboard or out of city and leave your family and missing them in important occasion especially in Eid, Eid-Ul- Adha, Birthdays, Wedding etc is always difficult. Thanks for modern means of technology so you can talk and video chat with your family in Karachi Pakistan any times easily and when sending gift at important time again thanks for internet technology from which you can order easily back home in Karachi.<br /><br />
            We do realize that people who left our city due to financial reason in which some are very well settle rich people but there are also some are still working in lesser salaries. So at KarachiGifts.com we want everyone should send smiles via gift to their family back home. Our motto is simple "send more and pay less".<br /><br />
            We deliver the flower and gifts from the best sources of Karachi. Karachi is almost 2 BN populations as we are Karachi based therefore we know everything about this city and not only city but we know the people of Karachi as well. We know what kind tastes they like and what they do not and keeping in mind this thing we deliver gifts in anywhere in Karachi.<br /><br />
            Karachi Gifts is online gift shop which is providing the fresh and finest quality of product in a best price and we provide from Brands. We have our own order shipment or delivery team they hand over personally like the sentiments should be rather than using courier service that just sent items like post and due to our own delivery network we deliver very quickly any where in Karachi City.<br /><br />
            this way we guarantee:<br /><br />
            <ul>
                <li>Best Flowers and Gifts Delivery.</li>
                <li>Secured Payment.</li>
                <li>Reasonable Price.</li>
                <li>Customer Service.</li>
                <li>Same Day Fastest Delivery all over Karachi.</li>
            </ul>
          
            For Email Please contact us <a href="#" style="color:aqua;">onlinefloral@gmail.com</a>
       
        </div>
        <div class="col-md-4">
            <img src="~/Images/abc.JPG" style="width:100%;"/>
        </div>
    </div>
</div>